[submodule "assets/modules/tf-gcp-gh-pipeline"]
	path = assets/modules/tf-gcp-gh-pipeline
	url = git@github.com:ranson21/tf-gcp-gh-pipeline.git
[submodule "assets/modules/tf-gcp-dns"]
	path = assets/modules/tf-gcp-dns
	url = git@github.com:ranson21/tf-gcp-dns.git
[submodule "assets/modules/tf-gcp-secret"]
	path = assets/modules/tf-gcp-secret
	url = git@github.com:ranson21/tf-gcp-secret.git
[submodule "assets/modules/tf-gcp-project"]
	path = assets/modules/tf-gcp-project
	url = git@github.com:ranson21/tf-gcp-project.git
[submodule "assets/modules/tf-gcp-cloudfunction"]
	path = assets/modules/tf-gcp-cloudfunction
	url = git@github.com:ranson21/tf-gcp-cloudfunction.git
[submodule "assets/scripts/cloud-functions"]
	path = assets/scripts/cloud-functions
	url = git@github.com:ranson21/cloud-functions.git
[submodule "assets/modules/tf-gcp-storage"]
	path = assets/modules/tf-gcp-storage
	url = git@github.com:ranson21/tf-gcp-storage.git
[submodule "assets/builders"]
	path = assets/builders
	url = git@github.com:GoogleCloudPlatform/cloud-builders-community
[submodule "assets/modules/tf-gcp-cloud-run"]
	path = assets/modules/tf-gcp-cloud-run
	url = git@github.com:ranson21/tf-gcp-cloud-run
[submodule "apps/web/portfolio"]
	path = apps/web/portfolio
	url = git@github.com:ranson21/portfolio-web
[submodule "assets/modules/tf-gcp-lb"]
	path = assets/modules/tf-gcp-lb
	url = git@github.com:ranson21/tf-gcp-lb
